.title_favorites {
  font-size: 36px;
  font-weight: 500;
  margin-top: 3%;
  padding-left: 60px;
}

.green_line {
  background-color: #C1D72F;
  height: 2px;
  width: 970px;
  margin-left: 230px;
  margin-top: -1.5%;
}

.container_favorites {
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente línea */
}

.mi-div {
  background-color: #ffffff; /* Color de fondo */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra: desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  height: 250px;
  width: 200px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  justify-self: flex-start;
  margin-right: 30px;
  flex: 1 0 calc(22.22% - 10px); /* Ajuste para que los elementos se ajusten a tres por fila */

}

.circle{
  height: 85px;
  width: 85px;
  border-radius: 100%;
  margin-top: 10px;
  border: 5px solid #C1D72F;

}

.image{
  width: 85px;
  height: 85px;
}

.name{
  font-size: 16px;
  font-weight: bold;
  margin: 3px;
  margin-top: 13px;
}

.email{
  font-size: 14px;
  font-weight: 100;
  color: #b6b4b4;
  margin-top: 8px;
  margin-left: -10px;
}

.icono-remove {
  display: inline-block;
  border: 1px solid rgb(244, 75, 75); 
  padding: 8px;
  color: rgb(240, 75, 75); 
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  padding: 12px;
}

.linea-horizontal {
  border-bottom: 1px solid rgb(105, 102, 102); 
  margin: 20px;
  margin-left: -40px; 
  width: 170px;
}


